   <h1>Help</h1>
    <p>
      Get help on the Ruby on Rails Tutorial at the
      <a href="http://railstutorial.jp/help">Rails Tutorial help
      section</a>.
      To get help on this sample app, see the
      <a href="http://railstutorial.jp"><em>Ruby on Rails
      Tutorial</em> book</a>.
    </p>
